<div class="list-item list-item--bordered list-item--hoverable {{ notificationBgnd status }}">
  <div class="list-item__left-float">
    <img class="js-user-link img-avatar img-avatar--hoverable" src="{{ sender.avatar_url }}" width="42" height="42" alt="{{ sender.full_name }}" />
  </div>
  <div class="list-item__header">
    <p>{{{ desc }}}</p>
    <p class="subtext margin-top-quarter">{{ relativeDate pubdate }}</p>
  </div>
</div>
