<div class="list-item list-item--bordered">
  <div class="list-item__left-float">
    <img class="js-user-link img-avatar img-avatar--hoverable" src="{{ avatar_url }}" width="42" height="42" alt="{{ full_name }}" />
  </div>
  <a href="#" class="link-btn-v js-btn-add">
    <span class="icon icon-{{ tagIdToIcon tag_id }}"></span>
  </a>
  <div class="list-item__header">
    <h3 class="js-user-link title-equal text--hoverable">
      {{ full_name }}
    </h3>
    <p>
      {{ username }}
    </p>
  </div>
</div>
